.TaskManager_container{
    padding-top: 70px;
    text-align: center;
    width: 100%;
}

.TaskManager_container-tasks{
    padding: 70px;
    text-align: center;
    width: 100%;
}

.MTask-form_top-input{
    outline: none;
    border: 2px solid gray;
    border-bottom: none;
    padding: 10px;
    color: #6c955a;
    background-color: white;
    width: 300px;
}

.MTask-form_top-input:focus, .Task-form_top-input:hover{
    text-decoration: none;
    outline: none;
    background-color: white;
}

.MTask-form_bottom-input{
    text-decoration: dashed;
    outline: none;
    border: 2px solid gray;
    padding: 10px;
    color: #6c955a;
    background-color: white;
    width: 300px;
}

.MTask-form_bottom-input:focus, .Task-form_bottom-input:hover{
    text-decoration: none;
    outline: none;
    background-color: white;
}


.table-background {
    background-color: #f74f2b;
    text-align: center;
    width: 100%;
}

.title_task-manager{
    text-align: center;
    text-transform: uppercase;
    /*font-size: 50px;*/
    color : white;
    padding-top: 50px;
    padding-bottom: 30px;

}

.TaskManager_title{
    color: white;
}

.TaskManager_button{
    background-color: #98dd7f;
    outline: none;
    border: none;
    color: white;
    text-align: center;
    width: 300px;
    padding: 10px;
}

.TaskManager_button:hover, .TaskManager_button:focus{
    background-color: #75ae5d;
    outline: none;
    border: none;
}