.Task_container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    color: gray;

    margin-bottom: 20px;

    -webkit-box-shadow: 0 0 0 1px rgb(210, 210, 210);
    -moz-box-shadow: 0 0 0 1px rgb(210, 210, 210);
    box-shadow: 0 0 0 1px rgb(210, 210, 210);
}

.Task_button-tool{
    background-color: #98dd7f;
    color: gray;
    display: inline-block;
    height: 100%;
    text-align: center;
    min-width: 150px;
    padding: 20px;
    outline: none;
    border: none;
}

.Task_button-tool:hover{
    background-color: #6bd35c;
}

.Task_tools{
    display: inline-block;
    height: 100%;
    text-align: center;
}

.Task_title{
    display: inline-block;
    padding: 20px;
    text-align: center;
    height: 100%;
}

.Task_time-spent{
    display: inline-block;
    padding: 20px;
    text-align: center;
    height: 100%;
}

.Active{
    color: black !important;
    -webkit-box-shadow: 0 0 5px 2px rgba(130,130,130,1);
    -moz-box-shadow: 0 0 5px 2px rgba(130,130,130,1);
    box-shadow: 0 0 5px 2px rgba(130,130,130,1);
}

.Active .Task_button-tool{
    background-color: #6bd35c;
    color: black !important;
}

.Active .Task_button-tool:hover{
    background-color: #98dd7f;
}