.Timer_container-info{
    display: flex;
    width: 100%;
    height: 50%;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: calc(5px + 2vmin);
}

.Timer_container-time{
    display: flex;
    width: 100%;
    height: 50%;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(100px + 2vmin);
}

.Timer_title{
    color: white;
    text-align: center;
}

.Timer_pomodoro-time{
    color: white;
    text-align: center;
}

.Timer_pomodoro-current-time{
    color: white;
    text-align: center;
}

.Timer_pomodoro-time-container{
    display: inline-block;
    color: white;
    text-align: center;
}

.Timer_pomodoro-count{
    color: white;
}

@media(max-width: 800px){
    .Timer_container{
        width: 100%;
        height: 50vh;
    }
}