.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.buttons-container{
    text-align: center;
}

.default-button{
    margin: 5px;
    display: inline;
    background-color: white;
    text-decoration: none;
    border: 3px solid #f74f2b;
    padding: 10px 25px;
    min-width: 150px;
}

.default-button:hover{
    background-color: #f74f2b;
}

.set-button{
    min-width: 150px;
    margin: 5px;
    display: inline;
    color: white;
    background-color: #f74f2b;
    text-decoration: none;
    border: 3px solid #f74f2b;
    padding: 10px 25px;
}

.set-button:hover{
    background-color: #bf3b20;
}
