.Timer_container-info{
    position: absolute;
    top: 84px;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #98dd7f;
    align-items: center;
    justify-content: space-evenly;

}

.Timer_container-time{
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);
}

.Timer_title{
    color: white;
    text-align: center;
}

.Timer_pomodoro-time{
    color: white;
    text-align: center;
}

.Timer_pomodoro-current-time{
    color: white;
    text-align: center;
}

.Timer_pomodoro-time-container{
    display: inline-block;
    color: white;
    text-align: center;
}

.Timer_pomodoro-count{
    color: white;
}

.Timer_button-tool{
    background-color: #98dd7f;
    border: none;
    outline: none;
    color: black;
    display: inline-block;
    text-align: center;

    width: 100%;
    padding: 20px;
}

.Timer_button-tool:hover{
    background-color: white;
}