.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.buttons-container{
    text-align: center;
}

.default-button{
    margin: 5px;
    display: inline;
    background-color: white;
    text-decoration: none;
    border: 3px solid coral;
    padding: 10px 25px;
    font-size: 30px;
    min-width: 150px;
}

.default-button:active{
    background-color:blanchedalmond;
}

.set-button{
    min-width: 150px;
    margin: 5px;
    display: inline;
    color: white;
    background-color: coral;
    text-decoration: none;
    border: 3px solid coral;
    padding: 10px 25px;
    font-size: 30px;
}

.set-button:active{
    background-color:orange;
}
