.table-background{
    background-color: #f74f2b;
    text-align: center;
    width: 100%;
}

.analysis-container{
    padding-top: 70px;
}

.title-analysis{
    text-align: center;
    text-transform: uppercase;
    /*font-size: 50px;*/
    color : white;
    padding-top: 50px;
    padding-bottom: 30px;

}

.table-container{
    position: relative;
    width: 100%;
}

.sub-title{
    text-align: left;
    text-transform: uppercase;
    /*font-size: 40px;*/
    margin: 15px;

}

table{
    width: 100%;
    margin : auto;
    text-align: center;
}

td {
    /*font-size: 30px;*/
    width: 25%
}

.td-totaltime{
    color: #f74f2b;
}