.register_container{
    padding: 20px;
    text-align: center;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #6c955a;

}

.register_input{
    text-decoration: none;
    outline: none;
    border: 2px solid #6c955a;
    padding: 10px;
    color: #6c955a;
    background-color: white;
    width: 300px;
    margin: 10px;
}

.register_input:focus, .Signin-form_input:hover{
    text-decoration: none;
    outline: none;
    background-color: #fffaf1;
}

.register_link{
    outline: none;
    color: #6c955a;
    margin: 10px;
}

.register_link:hover, .Signin-form_link:focus{
    outline: none;
    color: #6c955a;
}

.register_button-outlined{
    outline: none !important;
    border-radius: 0;
    padding: 10px;
    width: 140px;
    margin: 10px;
    border: 2px solid #f74f2b !important;
    color: #f74f2b;
    background-color: white;
}

.register_button-outlined:hover{
    color: white !important;
    background-color: #f74f2b !important;
    outline: none;
}

.register_button{
    outline: none !important;
    border-radius: 0;
    border: 2px solid #f74f2b !important;
    color: white;
    background-color: #f74f2b;
    padding: 10px;
    width: 140px;
    margin: 10px;

}

.register_button:hover, .register_button:focus{
    background-color: #bf3b20;
    border: 2px solid #bf3b20 !important;
    outline: none;
}

.register_title{
  color: #6c955a;
}

.register_text{

}